
<div id="main-column">
<script type="text/javascript">YAHOO.example.Data = {
    roll_calls: [

    <% @roll_calls.each do |r| %>
       {id:<%= r.id %>,bill:"<%= r.bill.bill_type.upcase %><%= r.bill.number %>",vote_date:new Date("<%= r.vote_date.strftime('%B %d, %Y') %>"),yes_votes:<%= r.ayes %>, no_votes:<%= r.nays %>,abstain_votes:<%= r.abstains %>,present_votes:<%= r.presents %>,action_text:"<%= r.action.action_text %>",result:"<%= r.result %>",chamber:"<%= r.chamber %>"},
    <% end %>


    ]
}

</script>
<script type="text/javascript">
// wanna create a custom formatter for the cell
this.billLinkFormatter = function(elCell, oRecord, oColumn, oData) 
            
{

	var name = oRecord.getData("bill");
        var id = oRecord.getData("id");
        elCell.innerHTML = "<a href='/vote/" + id + "'>" + name + "</a>";
            
};

YAHOO.widget.DataTable.Formatter.billLink = this.billLinkFormatter;


YAHOO.util.Event.addListener(window, "load", function() {
    var Ex = YAHOO.namespace('example');

    Ex.dataSource = new YAHOO.util.DataSource(YAHOO.example.Data.roll_calls,{
        responseType : YAHOO.util.DataSource.TYPE_JSARRAY,
        responseSchema : {
        fields: ["bill","action_text","result","vote_date","yes_votes","id","no_votes","abstain_votes","present_votes","chamber"]
        },
        doBeforeCallback : function (req,raw,res,cb) {
            // This is the filter function
            var data     = res.results || [],
                filtered = [],
                i,l;

            if (req) {
                req = req.toLowerCase();
                for (i = 0, l = data.length; i < l; ++i) {
                    if (!data[i].bill.toLowerCase().indexOf(req)) {
                        filtered.push(data[i]);
                    }
                }
                res.results = filtered;
            }

            return res;
        }
    });

    Ex.cols = [
        {key:"bill", sortable:true,resizeable:true, label:"Bill",formatter:"billLink"},
        {key:"chamber", sortable:true,resizeable:true, label:"Chamber"},
        {key:"action_text", sortable:true, resizeable:true,label:"Action"},
	{key:"vote_date", formatter:YAHOO.widget.DataTable.formatDate, sortable:true, sortOptions:{defaultDir:YAHOO.widget.DataTable.CLASS_DESC},resizeable:true,label:"Vote Date"},
        {key:"result", sortable:true,resizeable:true, label:"Result"},
        {key:"yes_votes",formatter:YAHOO.widget.DataTable.formatNumber, sortable:true,resizeable:true, label:"Yes Votes"},
        {key:"no_votes",formatter:YAHOO.widget.DataTable.formatNumber, sortable:true,resizeable:true, label:"No Votes"}
    ];

/*    Ex.paginator = new YAHOO.widget.Paginator({
        rowsPerPage   : 50,
        pageLinks     : 5
    });
*/
    Ex.conf = {
  //      paginator : Ex.paginator,
        sortedBy: {key:'bill', dir:YAHOO.widget.DataTable.CLASS_ASC}
    };

    Ex.dataTable = new YAHOO.widget.DataTable('votes_grid',Ex.cols,Ex.dataSource,Ex.conf);

    Ex.filterTimeout = null;
    Ex.updateFilter  = function () {
        // Reset timeout
        Ex.filterTimeout = null;
        
        // Reset sort
        var bill = Ex.dataTable.getBill();
            bill.sortedBy = {key:'bill', dir:YAHOO.widget.DataTable.CLASS_ASC};

        // Get filtered data
        Ex.dataSource.sendRequest(YAHOO.util.Dom.get('filter').value,{
            success : Ex.dataTable.onDataReturnInitializeTable,
            failure : Ex.dataTable.onDataReturnInitializeTable,
            scope   : Ex.dataTable,
            argument: bill
        });
    };

    YAHOO.util.Event.on('filter','keyup',function (e) {
        clearTimeout(Ex.filterTimeout);
        setTimeout(Ex.updateFilter,600);
    });
});</script>

<style>
.yui-skin-sam .yui-dt-liner {
white-space: wrap;
}
</style>

<script type="text/javascript">
   yuiDtFilter = function(tableDivId, selectorStr, filter) {
     //custom jQuery function defines case-insensitive fn:Contains, use default fn:contains for case-sensitive search
     jQuery.expr[':'].Contains = function(a,i,m){
       return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0;
     };
     $("#" + tableDivId + " .yui-dt-data").find('tr').hide();
     $("#" + tableDivId + " .yui-dt-data").find(selectorStr + ':Contains("' + filter + '")').parents('tr').show();
   }

</script>

<style type="text/css">.yui-dt-rec td {vertical-align:top;} .yui-skin-sam .yui-dt-liner { } #votes_grid{}  label{font-weight:bold;} </style>

<h1>Votes (<%= @roll_calls.count %>)</h1>

<div class="yui-skin-sam">
<div style="margin-left: 25px; width: 100%;">

</div>

	<div id="votes_grid"></div>
     <br />
        <div>

<%= will_paginate @roll_calls %>

</div>

</div>
</div>

<br />
<br />
<% content_for(:side_bar) do %>
    <h4>Vote Search</h4>
<form id="vote_filter_form" name="vote_filter_form" action="/votes/index"> 
<div>
Vote Location
<br />
	<input type="checkbox" name="chambers[]" value="senate" id="chamber_senate" <% if @chamber_senate %> checked="yes" <% end %> > Senate
	<input type="checkbox" name="chambers[]" value="house" id="chamber_house" <% if @chamber_house %> checked="yes" <% end %> > House
</div>
<div>
Bill Origin
<br />
	<input type="checkbox" name="origin[]" value="senate" id="origin_chamber_senate" <% if @origin_chamber_senate %> checked="yes" <% end %> > Senate
	<input type="checkbox" name="origin[]" value="house" id="origin_chamber_house" <% if @origin_chamber_house %> checked="yes" <% end %> > House
</div>
<div>
Session
<br />
<select id="session_list" name="session">
    <% @sessions.each do |s| %>
	<option value="<%= s.session_identifier %>" 
		<% if @session_identifier == s.session_identifier %> 
		 selected
		<% end %>><%= s.session_label %></option>
    <% end %>
</select>
</div>
<div>
Vote Outcome
<br />
<select id="result" name="result">
<option value="0">---</option>
<option value="pass" <% if @result == 'pass' %> selected="selected" <% end %>>Passed</option>
<option value="fail" <% if @result == 'fail' %> selected="selected" <% end %>>Failed</option>
</select>
</div>
<br />
<input id="submit" type="submit" class="filter-submit" value="Search">
</form>
<% end %>
